<% layout('../layouts/list') -%>
  <div class="row">
    
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-left">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
           
            <li class="breadcrumb-item active"><a href="javascript: void(0);">Universities List</a></li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="page-title-box">
        <h4 class="page-title">Universities List</h4>
      </div>
    </div>
   
  </div>
  <div class="row">


    

    

    <div class="col-12">
      <div class="card">
        <div class="card-body">

         

          <div class="col-lg-12">

            

            <div class="text-lg-right mt-3 mb-3 mt-lg-0">
              
              <a href="/admin/university-add"  class="btn btn-success waves-effect waves-light" ><i
                  class="mdi mdi-plus-circle mr-1"></i> Add university</a>
            </div>
          </div>
          <table class="table nowrap" id="university-datatable"   data-caption="university List">
            <thead>
              <tr>
                <th>S.NO.</th>
                <th>Name</th>
                <th>Tution Fees</th>
                <th>Apply Date</th>
                <th>ACTIONS</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <div class="row tableLoader">
            <div class="col-sm-12 text-center">
              <div class="spinner-border avatar-md text-primary m-2"
                role="status"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





