<% layout('../layouts/admin') -%>
	<div class="row">
		<div class="col-12">
			<div class="page-title-box">
				<div class="page-title-left">
					<ol class="breadcrumb m-0">
						<li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
						<li class="breadcrumb-item">
							<a href="/admin/agent">Agents</a>
						</li>
						<li class="breadcrumb-item active">
							<a href="javascript: void(0);">Edit</a>
						</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="page-title-box">
				<h4 class="page-title">Edit Agent</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<div class="card">
				<div class="card-body">
					<form method="post" id="editAgentForm" enctype="multipart/form-data">
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Email <span class="text-danger">*</span></label>
									<input type="text" class="form-control" placeholder="Email"
										autocomplete="off" value="<%= agent.email %>" disabled readonly />
									<div class="text-danger email"></div>
								</div>
							</div>

							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>First Name <span class="text-danger">*</span></label>
									<input type="text" name="firstName" class="form-control" placeholder="Title"
										autocomplete="off" value="<%= agent.firstName %>" />
									<div class="text-danger firstName"></div>
								</div>
							</div>

							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Last Name <span class="text-danger">*</span></label>
									<input type="text" name="lastName" class="form-control" placeholder="Title"
										autocomplete="off" value="<%= agent.lastName %>" />
									<div class="text-danger lastName"></div>
								</div>
							</div>

							
						</div>
						<div class="row">
							<div class="col-lg-12 text-right">
								<div class="form-group mb-3 text-right">
									<button id="submiteditAgentForm" type="submit"
										class="btn btn-primary waves-effect waves-light">
										Update
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(".categoryManager").addClass("active");
	</script>
	<script>
		$(document).ready(function () {
			$("#editAgentForm").validate({
				errorPlacement: function (error, element) {
					const name = $(element).attr("name");
					error.appendTo($("." + name));
				},
				submitHandler: function (form) {
					$("#submiteditAgentForm").attr("disabled", "disabled");
					form.submit();
				},
				rules: {
					firstName: {
						required: true,
						minlength: 3,
						maxlength: 30,
					},
					lastName: {
						required: true,
						minlength: 3,
						maxlength: 30,
					},
				},
				messages: "",
			});
		});
		$(".categoryManager").addClass("active");
	</script>